<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>    <link rel="stylesheet" href="~/assets/css/image-animation.css">
    <link rel="stylesheet" href="~/assets/css/player.css">
    <link rel="stylesheet" href="~/assets/css/fonts.css">
    <link rel="stylesheet" href="~/assets/css/client-index.css">

    @RenderSection("head", required: false)
</head>

<body>
    @RenderBody()
</body>
</html>
<script src="~/assets/js/image-animation.js"></script> <!-- needs to be loaded after DOM is loaded -->
<script src="~/assets/js/player.js"></script> <!-- needs to be loaded after DOM is loaded -->
<script src="~/assets/js/client-index.js"></script> <!-- needs to be loaded after DOM is loaded -->
