/*
css regarding client interface (index.html)
*/

html, 
body {
    height: 100vh; /* important for image container and image height */
}



#description_container {
    position: fixed;
    background-color: rgb(255,255,255,0.4);
    width: 100vw;
    z-index: 4;
    /*bottom: 0px;*/
}

    #description_container { /* rearrangement */
        width: 48vw;
        left: 50vw;
        margin-left: -25vw;
        /*bottom: 6vh;*/
        top: 80vh;
        padding: 1vw;
        border-radius: 4px;
        position: absolute;
    }

#description {
    width: 88vw;
    font-size: 3vh;
    color: #646464;
    text-align: center;
    font-family: RThin;
    letter-spacing: 2px;
    text-shadow: none;
    margin: 0px 5vw;
    margin-bottom: 3vh;
}

    #description { /* rearrangement */
        width: 100%;
        margin: 0px;
    }


    @media only screen and (max-height: 600px) {
        #description_container {
            top: 80vh;
            width: 48vw;
        }

        #description { 
            margin: 0px;
        }
    }
