/*
css regarding fonts
*/


@font-face {
  font-family: RRegular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: RThin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}