@model EmotionArchive
@{
    ViewData["Title"] = !string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title;
    var hasImage = Model.PrimaryImage.HasValue;
}
@section head {
    @WebApp.MetaTags(Model)
}

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- player background -->
<div id="color_tone" style="background-image: url('img/color-tone.png');"></div>
<div id="trance_gif"></div>
<div id="overlay_lines"></div>

<!-- player audio -->
<audio id="player" controls controlsList="nodownload">
    @* <source src="~/assets/audio/HOUSE_OF_SUN_y_bourdin_HIBOU537_LC06881_LV.mp3" type="audio/mpeg"> *@
    <source src="@Url.Content(Model.Emotion.Audio)" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<!-- player image -->
<div id="image_container">
    <span class="helper"></span>
    <img id="animation_image" src="@Url.Content(Model.Emotion.Afbeelding)">
</div>

<!-- player buttons -->
<div id="buttons_container" onkeypress="keypressed(event)">
    <img onclick="player_rewind()" src="ui-img/rewind.svg" alt="rewind animation" class="player_button">
    <img onclick="player_play()" src="ui-img/play.svg" alt="play animation" class="player_button" id="play_button">
    <img onclick="player_pause()" src="ui-img/pause.svg" alt="pause animation" class="player_button" id="pause_button">
    <img onclick="mute()" src="ui-img/mute.svg" alt="mute animation" class="player_button" id="mute_button">
    <img onclick="toggleFullScreen()" src="ui-img/fullscreen.svg" alt="enter or exit fullscreen" class="player_button" id="toggle_button">
</div>

<!-- player text -->
<div id="description_container">    
    @if (!string.IsNullOrWhiteSpace(Model.Emotion.Quote)) 
    { 
        <p id="description">@Html.Raw(Model.Emotion.Quote) </p>
    }       
</div>

<!-- show progress -->
<div id="progressbar"><div id="progress"></div></div>

<!-- stay awake -->
<video autoplay="true" muted="muted" loop>
    <source src="vid/blank.m4v" type="video/mp4">
    <source src="vid/blank.ogv" type="video/ogg">
    <source src="vid/blank.webm" type="video/webm">
</video>

<!-- tilt screen overlay when in portrait mode -->
<div id="tilt_overlay">
    <img src="ui-img/tilt.png">
</div>